.App {
  /*text-align: center;*/
  padding: 0% 3%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  max-height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: limegreen;
  margin: 0px;
}

.App-footer{
  position: relative;
  bottom: 0px;
  margin-left: 25%;
}

.App-link {
  color: #09d3ac;
}

.App-Nav{
  color: white;
}

.formContainer{
  padding: 3%;
  margin: 0% 1%;
}

.formInput {
  margin: auto 10%;
  padding: auto 5%;
}